In [1]:
import pandas

In [54]:
data = pandas.read_excel("C:\\Users\\Agne\\Desktop\\PythonCourse\\Homework\\finalproject\\P_Data_Extract_From_Gender_Statistics.xlsx")
data

,Series Name,Series Code,Country Name,Country Code,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,GDP per capita (Current US$),NY.GDP.PCAP.CD,Albania,ALB,4413.062005,4578.633208,3952.802538,4124.055390,4531.019374
1,GDP per capita (Current US$),NY.GDP.PCAP.CD,Andorra,AND,44750.435680,45682.246231,38885.376014,39932.164487,40632.484393
2,GDP per capita (Current US$),NY.GDP.PCAP.CD,Armenia,ARM,3833.157532,4017.229808,3666.141876,3679.951972,4041.995021
3,GDP per capita (Current US$),NY.GDP.PCAP.CD,Austria,AUT,50731.127254,51786.377175,44195.817595,45307.587862,47429.158456
4,GDP per capita (Current US$),NY.GDP.PCAP.CD,Azerbaijan,AZE,7875.756953,7891.313147,5500.310382,3880.738731,4147.089716
...,...,...,...,...,...,...,...,...,...
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Data from database: Gender Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,Last Updated: 05/12/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
data = data.drop(index=[116,117,118,119,120])

In [29]:
data = data.dropna()

In [34]:
data = data.drop(columns="Series Code")
data

,Series Name,Country Name,Country Code,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,GDP per capita (Current US$),Albania,ALB,4413.062005,4578.633208,3952.802538,4124.055390,4531.019374
1,GDP per capita (Current US$),Andorra,AND,44750.435680,45682.246231,38885.376014,39932.164487,40632.484393
2,GDP per capita (Current US$),Armenia,ARM,3833.157532,4017.229808,3666.141876,3679.951972,4041.995021
3,GDP per capita (Current US$),Austria,AUT,50731.127254,51786.377175,44195.817595,45307.587862,47429.158456
4,GDP per capita (Current US$),Azerbaijan,AZE,7875.756953,7891.313147,5500.310382,3880.738731,4147.089716
...,...,...,...,...,...,...,...,...
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Data from database: Gender Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,Last Updated: 05/12/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
data

,Series Name,Series Code,Country Name,Country Code,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,GDP per capita (Current US$),NY.GDP.PCAP.CD,Albania,ALB,4413.062005,4578.633208,3952.802538,4124.055390,4531.019374
1,GDP per capita (Current US$),NY.GDP.PCAP.CD,Andorra,AND,44750.435680,45682.246231,38885.376014,39932.164487,40632.484393
2,GDP per capita (Current US$),NY.GDP.PCAP.CD,Armenia,ARM,3833.157532,4017.229808,3666.141876,3679.951972,4041.995021
3,GDP per capita (Current US$),NY.GDP.PCAP.CD,Austria,AUT,50731.127254,51786.377175,44195.817595,45307.587862,47429.158456
4,GDP per capita (Current US$),NY.GDP.PCAP.CD,Azerbaijan,AZE,7875.756953,7891.313147,5500.310382,3880.738731,4147.089716
...,...,...,...,...,...,...,...,...,...
111,"Female share of graduates from Science, Techno...",SE.TER.GRAD.FE.SI.ZS,Turkiye,TUR,NaN,34.686080,NaN,NaN,NaN
112,"Female share of graduates from Science, Techno...",SE.TER.GRAD.FE.SI.ZS,Turkmenistan,TKM,NaN,NaN,NaN,NaN,NaN
113,"Female share of graduates from Science, Techno...",SE.TER.GRAD.FE.SI.ZS,Ukraine,UKR,NaN,NaN,29.653210,29.491370,27.417900
114,"Female share of graduates from Science, Techno...",SE.TER.GRAD.FE.SI.ZS,United Kingdom,GBR,37.306440,37.903670,37.967290,38.103130,NaN
115,"Female share of graduates from Science, Techno...",SE.TER.GRAD.FE.SI.ZS,Uzbekistan,UZB,NaN,NaN,NaN,NaN,NaN

In [57]:
data = data.drop(columns='Series Code')

In [58]:
data

,Series Name,Country Name,Country Code,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,GDP per capita (Current US$),Albania,ALB,4413.062005,4578.633208,3952.802538,4124.055390,4531.019374
1,GDP per capita (Current US$),Andorra,AND,44750.435680,45682.246231,38885.376014,39932.164487,40632.484393
2,GDP per capita (Current US$),Armenia,ARM,3833.157532,4017.229808,3666.141876,3679.951972,4041.995021
3,GDP per capita (Current US$),Austria,AUT,50731.127254,51786.377175,44195.817595,45307.587862,47429.158456
4,GDP per capita (Current US$),Azerbaijan,AZE,7875.756953,7891.313147,5500.310382,3880.738731,4147.089716
...,...,...,...,...,...,...,...,...
111,"Female share of graduates from Science, Techno...",Turkiye,TUR,NaN,34.686080,NaN,NaN,NaN
112,"Female share of graduates from Science, Techno...",Turkmenistan,TKM,NaN,NaN,NaN,NaN,NaN
113,"Female share of graduates from Science, Techno...",Ukraine,UKR,NaN,NaN,29.653210,29.491370,27.417900
114,"Female share of graduates from Science, Techno...",United Kingdom,GBR,37.306440,37.903670,37.967290,38.103130,NaN
115,"Female share of graduates from Science, Techno...",Uzbekistan,UZB,NaN,NaN,NaN,NaN,NaN

In [67]:
data1 = data.pivot(index=['Country Name', 'Country Code'],
                       columns=['Series Name'], values=['2013 [YR2013]','2014 [YR2014]','2015 [YR2015]','2016 [YR2016]','2017 [YR2017]'])

In [68]:
data1

                                                                                                                                      2013 [YR2013]
Series Name                         Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name           Country Code
Albania                ALB                                                         NaN                                                               \
Andorra                AND                                                         NaN
Armenia                ARM                                                         NaN
Austria                AUT                                                    25.69282
Azerbaijan             AZE                                                         NaN
Belarus                BLR                                                         NaN
Belgium                BEL                                                    24.77217
Bosnia and Herzegovina BIH                                                         NaN
Bulgaria               BGR                                                    39.85229
Channel Islands        CHI                                                         NaN
Croatia                HRV                                                         NaN
Cyprus                 CYP                                                    38.65894
Czechia                CZE                                                    33.86935
Denmark                DNK                                                    35.34432
Estonia                EST                                                    39.68792
Faroe Islands          FRO                                                         NaN
Finland                FIN                                                    27.48335
France                 FRA                                                    30.81010
Georgia                GEO                                                         NaN
Germany                DEU                                                         NaN
Gibraltar              GIB                                                         NaN
Greece                 GRC                                                    38.39961
Greenland              GRL                                                         NaN
Hungary                HUN                                                    30.36909
Iceland                ISL                                                         NaN
Ireland                IRL                                                    23.48285
Isle of Man            IMN                                                         NaN
Italy                  ITA                                                    40.64990
Kazakhstan             KAZ                                                         NaN
Kosovo                 XKX                                                         NaN
Kyrgyz Republic        KGZ                                                         NaN
Latvia                 LVA                                                    32.86374
Liechtenstein          LIE                                                         NaN
Lithuania              LTU                                                    28.43658
Luxembourg             LUX                                                    31.37255
Moldova                MDA                                                         NaN
Monaco                 MCO                                                         NaN
Montenegro             MNE                                                         NaN
Netherlands            NLD                                                    24.60695
North Macedonia        MKD                                                    38.58954
Norway                 NOR                                                    25.89623
Poland                 POL                                                    41.86303
Portugal               PRT                                                    40.89758
Romania                ROU                                                    41.07073
Russian Federation     RUS                                                         NaN
San Marino             SMR                                                         NaN
Serbia                 SRB                                                         NaN
Slovak Republic        SVK                                                    36.57574
Slovenia               SVN                                                    31.38449
Spain                  ESP                                                    29.50554
Sweden                 SWE                                                    32.40692
Switzerland            CHE                                                    21.58609
Tajikistan             TJK                                                         NaN
Turkiye                TUR                                                         NaN
Turkmenistan           TKM                                                         NaN
Ukraine                UKR                                                         NaN
United Kingdom         GBR                                                    37.30644
Uzbekistan             UZB                                                         NaN


Series Name                         GDP per capita (Current US$)
Country Name           Country Code
Albania                ALB                           4413.062005  \
Andorra                AND                          44750.435680
Armenia                ARM                           3833.157532
Austria                AUT                          50731.127254
Azerbaijan             AZE                           7875.756953
Belarus                BLR                           7998.125239
Belgium                BEL                          46757.951856
Bosnia and Herzegovina BIH                           5025.074597
Bulgaria               BGR                           7681.934620
Channel Islands        CHI                                   NaN
Croatia                HRV                          13871.329905
Cyprus                 CYP                          27799.119141
Czechia                CZE                          20133.169143
Denmark                DNK                          61191.193704
Estonia                EST                          19056.001923
Faroe Islands          FRO                          55560.251739
Finland                FIN                          49892.223363
France                 FRA                          42602.717965
Georgia                GEO                           4623.745725
Germany                DEU                          46298.922918
Gibraltar              GIB                                   NaN
Greece                 GRC                          21787.787764
Greenland              GRL                          47535.589945
Hungary                HUN                          13715.070359
Iceland                ISL                          49804.982998
Ireland                IRL                          51546.354763
Isle of Man            IMN                          83199.619563
Italy                  ITA                          35560.081406
Kazakhstan             KAZ                          13890.630956
Kosovo                 XKX                           3704.784221
Kyrgyz Republic        KGZ                           1282.437162
Latvia                 LVA                          15007.491856
Liechtenstein          LIE                         173660.161219
Lithuania              LTU                          15729.652467
Luxembourg             LUX                         120000.140730
Moldova                MDA                           3321.043917
Monaco                 MCO                         185066.578133
Montenegro             MNE                           7189.293287
Netherlands            NLD                          52198.897561
North Macedonia        MKD                           5241.058345
Norway                 NOR                         102913.450844
Poland                 POL                          13558.414058
Portugal               PRT                          21653.195975
Romania                ROU                           9497.254990
Russian Federation     RUS                          15974.644531
San Marino             SMR                          50438.390015
Serbia                 SRB                           6755.073675
Slovak Republic        SVK                          18276.009552
Slovenia               SVN                          23503.282485
Spain                  ESP                          29077.182056
Sweden                 SWE                          61126.943196
Switzerland            CHE                          87304.330581
Tajikistan             TJK                           1038.327981
Turkiye                TUR                          12507.594513
Turkmenistan           TKM                           7049.797505
Ukraine                UKR                           4187.739746
United Kingdom         GBR                          43449.091717
Uzbekistan             UZB                           2419.718703

                                                                                                                                      2014 [YR2014]
Series Name                         Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name           Country Code
Albania                ALB                                                         NaN                                                               \
Andorra                AND                                                         NaN
Armenia                ARM                                                         NaN
Austria                AUT                                                    26.11129
Azerbaijan             AZE                                                         NaN
Belarus                BLR                                                         NaN
Belgium                BEL                                                    26.33454
Bosnia and Herzegovina BIH                                                         NaN
Bulgaria               BGR                                                    38.79142
Channel Islands        CHI                                                         NaN
Croatia                HRV                                                    36.37780
Cyprus                 CYP                                                    38.22861
Czechia                CZE                                                    34.11605
Denmark                DNK                                                    36.08466
Estonia                EST                                                    41.24861
Faroe Islands          FRO                                                         NaN
Finland                FIN                                                    27.24841
France                 FRA                                                    30.56737
Georgia                GEO                                                         NaN
Germany                DEU                                                         NaN
Gibraltar              GIB                                                         NaN
Greece                 GRC                                                    37.68188
Greenland              GRL                                                         NaN
Hungary                HUN                                                    31.00930
Iceland                ISL                                                         NaN
Ireland                IRL                                                    26.44334
Isle of Man            IMN                                                         NaN
Italy                  ITA                                                    40.43213
Kazakhstan             KAZ                                                         NaN
Kosovo                 XKX                                                         NaN
Kyrgyz Republic        KGZ                                                         NaN
Latvia                 LVA                                                    33.67595
Liechtenstein          LIE                                                         NaN
Lithuania              LTU                                                    30.54601
Luxembourg             LUX                                                    27.62646
Moldova                MDA                                                    33.45503
Monaco                 MCO                                                         NaN
Montenegro             MNE                                                         NaN
Netherlands            NLD                                                    25.31658
North Macedonia        MKD                                                    40.89039
Norway                 NOR                                                    25.49855
Poland                 POL                                                    42.63451
Portugal               PRT                                                    40.91389
Romania                ROU                                                    41.35524
Russian Federation     RUS                                                         NaN
San Marino             SMR                                                         NaN
Serbia                 SRB                                                         NaN
Slovak Republic        SVK                                                    37.17372
Slovenia               SVN                                                    31.39959
Spain                  ESP                                                    29.05799
Sweden                 SWE                                                         NaN
Switzerland            CHE                                                    21.93862
Tajikistan             TJK                                                         NaN
Turkiye                TUR                                                    34.68608
Turkmenistan           TKM                                                         NaN
Ukraine                UKR                                                         NaN
United Kingdom         GBR                                                    37.90367
Uzbekistan             UZB                                                         NaN


Series Name                         GDP per capita (Current US$)
Country Name           Country Code
Albania                ALB                           4578.633208  \
Andorra                AND                          45682.246231
Armenia                ARM                           4017.229808
Austria                AUT                          51786.377175
Azerbaijan             AZE                           7891.313147
Belarus                BLR                           8341.399679
Belgium                BEL                          47764.071512
Bosnia and Herzegovina BIH                           5196.860800
Bulgaria               BGR                           7901.785876
Channel Islands        CHI                                   NaN
Croatia                HRV                          13784.478358
Cyprus                 CYP                          27245.365234
Czechia                CZE                          19890.919906
Denmark                DNK                          62548.984733
Estonia                EST                          20261.066730
Faroe Islands          FRO                          60125.772117
Finland                FIN                          50327.240290
France                 FRA                          43068.548724
Georgia                GEO                           4739.188338
Germany                DEU                          48023.869985
Gibraltar              GIB                                   NaN
Greece                 GRC                          21616.710009
Greenland              GRL                          50484.927574
Hungary                HUN                          14294.258418
Iceland                ISL                          54576.744815
Ireland                IRL                          55643.059434
Isle of Man            IMN                          91885.607794
Italy                  ITA                          35565.721377
Kazakhstan             KAZ                          12807.260687
Kosovo                 XKX                           3902.676013
Kyrgyz Republic        KGZ                           1279.769783
Latvia                 LVA                          15742.391338
Liechtenstein          LIE                         179457.917926
Lithuania              LTU                          16551.018202
Luxembourg             LUX                         123678.702143
Moldova                MDA                           3327.786775
Monaco                 MCO                         195780.006893
Montenegro             MNE                           7388.147794
Netherlands            NLD                          52900.537415
North Macedonia        MKD                           5495.735049
Norway                 NOR                          97019.182753
Poland                 POL                          14182.137505
Portugal               PRT                          22103.700970
Romania                ROU                          10031.267274
Russian Federation     RUS                          14095.648438
San Marino             SMR                          50135.484582
Serbia                 SRB                           6600.056809
Slovak Republic        SVK                          18719.988141
Slovenia               SVN                          24247.173318
Spain                  ESP                          29513.651180
Sweden                 SWE                          60020.360458
Switzerland            CHE                          88724.990940
Tajikistan             TJK                           1094.422736
Turkiye                TUR                          12020.582639
Turkmenistan           TKM                           7685.509859
Ukraine                UKR                           3104.643311
United Kingdom         GBR                          47447.588932
Uzbekistan             UZB                           2628.460008

                                                                                                                                      2015 [YR2015]
Series Name                         Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name           Country Code
Albania                ALB                                                    52.78050                                                               \
Andorra                AND                                                     0.00000
Armenia                ARM                                                    42.78682
Austria                AUT                                                    25.29697
Azerbaijan             AZE                                                    33.43420
Belarus                BLR                                                    26.31468
Belgium                BEL                                                    26.55760
Bosnia and Herzegovina BIH                                                    42.56293
Bulgaria               BGR                                                    37.48946
Channel Islands        CHI                                                         NaN
Croatia                HRV                                                    35.22319

                                                                                                                            2013 [YR2013]
Series Name               Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name Country Code
Belgium      BEL                                                    24.77217                                                               \
Bulgaria     BGR                                                    39.85229
Cyprus       CYP                                                    38.65894
Czechia      CZE                                                    33.86935
Denmark      DNK                                                    35.34432
Estonia      EST                                                    39.68792
Finland      FIN                                                    27.48335
Hungary      HUN                                                    30.36909
Latvia       LVA                                                    32.86374
Lithuania    LTU                                                    28.43658
Norway       NOR                                                    25.89623
Poland       POL                                                    41.86303
Portugal     PRT                                                    40.89758
Spain        ESP                                                    29.50554
Switzerland  CHE                                                    21.58609


Series Name               GDP per capita (Current US$)
Country Name Country Code
Belgium      BEL                          46757.951856  \
Bulgaria     BGR                           7681.934620
Cyprus       CYP                          27799.119141
Czechia      CZE                          20133.169143
Denmark      DNK                          61191.193704
Estonia      EST                          19056.001923
Finland      FIN                          49892.223363
Hungary      HUN                          13715.070359
Latvia       LVA                          15007.491856
Lithuania    LTU                          15729.652467
Norway       NOR                         102913.450844
Poland       POL                          13558.414058
Portugal     PRT                          21653.195975
Spain        ESP                          29077.182056
Switzerland  CHE                          87304.330581

                                                                                                                            2014 [YR2014]
Series Name               Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name Country Code
Belgium      BEL                                                    26.33454                                                               \
Bulgaria     BGR                                                    38.79142
Cyprus       CYP                                                    38.22861
Czechia      CZE                                                    34.11605
Denmark      DNK                                                    36.08466
Estonia      EST                                                    41.24861
Finland      FIN                                                    27.24841
Hungary      HUN                                                    31.00930
Latvia       LVA                                                    33.67595
Lithuania    LTU                                                    30.54601
Norway       NOR                                                    25.49855
Poland       POL                                                    42.63451
Portugal     PRT                                                    40.91389
Spain        ESP                                                    29.05799
Switzerland  CHE                                                    21.93862


Series Name               GDP per capita (Current US$)
Country Name Country Code
Belgium      BEL                          47764.071512  \
Bulgaria     BGR                           7901.785876
Cyprus       CYP                          27245.365234
Czechia      CZE                          19890.919906
Denmark      DNK                          62548.984733
Estonia      EST                          20261.066730
Finland      FIN                          50327.240290
Hungary      HUN                          14294.258418
Latvia       LVA                          15742.391338
Lithuania    LTU                          16551.018202
Norway       NOR                          97019.182753
Poland       POL                          14182.137505
Portugal     PRT                          22103.700970
Spain        ESP                          29513.651180
Switzerland  CHE                          88724.990940

                                                                                                                            2015 [YR2015]
Series Name               Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name Country Code
Belgium      BEL                                                    26.55760                                                               \
Bulgaria     BGR                                                    37.48946
Cyprus       CYP                                                    41.01449
Czechia      CZE                                                    34.52674
Denmark      DNK                                                    32.19910
Estonia      EST                                                    40.54735
Finland      FIN                                                    27.55127
Hungary      HUN                                                    31.69457
Latvia       LVA                                                    31.44744
Lithuania    LTU                                                    30.80645
Norway       NOR                                                    29.06093
Poland       POL                                                    43.62705
Portugal     PRT                                                    38.96266
Spain        ESP                                                    29.34966
Switzerland  CHE                                                    22.73355


Series Name               GDP per capita (Current US$)
Country Name Country Code
Belgium      BEL                          41008.296719  \
Bulgaria     BGR                           7074.681023
Cyprus       CYP                          23487.125000
Czechia      CZE                          17829.698322
Denmark      DNK                          53254.856370
Estonia      EST                          17402.037613
Finland      FIN                          42801.908117
Hungary      HUN                          12717.038597
Latvia       LVA                          13786.456795
Lithuania    LTU                          14263.964577
Norway       NOR                          74355.515858
Poland       POL                          12560.051420
Portugal     PRT                          19250.106538
Spain        ESP                          25754.361029
Switzerland  CHE                          83806.447600

                                                                                                                            2016 [YR2016]
Series Name               Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name Country Code
Belgium      BEL                                                    27.48167                                                               \
Bulgaria     BGR                                                    38.26006
Cyprus       CYP                                                    42.22720
Czechia      CZE                                                    35.37918
Denmark      DNK                                                    33.65038
Estonia      EST                                                    38.32505
Finland      FIN                                                    27.05804
Hungary      HUN                                                    31.53762
Latvia       LVA                                                    31.87288
Lithuania    LTU                                                    29.82034
Norway       NOR                                                    28.43772
Poland       POL                                                    44.09176
Portugal     PRT                                                    39.10522
Spain        ESP                                                    29.68383
Switzerland  CHE                                                    22.05135


Series Name               GDP per capita (Current US$)
Country Name Country Code
Belgium      BEL                          42012.622719  \
Bulgaria     BGR                           7569.478815
Cyprus       CYP                          24715.730469
Czechia      CZE                          18575.232027
Denmark      DNK                          54663.998372
Estonia      EST                          18295.342932
Finland      FIN                          43814.026506
Hungary      HUN                          13104.699546
Latvia       LVA                          14331.751589
Lithuania    LTU                          15008.313245
Norway       NOR                          70460.560532
Poland       POL                          12378.759437
Portugal     PRT                          19991.972488
Spain        ESP                          26537.159489
Switzerland  CHE                          82153.074545

                                                                                                                            2017 [YR2017]
Series Name               Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name Country Code
Belgium      BEL                                                    25.83196                                                               \
Bulgaria     BGR                                                    36.87189
Cyprus       CYP                                                    38.26274
Czechia      CZE                                                    35.56827
Denmark      DNK                                                    34.24926
Estonia      EST                                                    38.37799
Finland      FIN                                                    27.40048
Hungary      HUN                                                    31.68040
Latvia       LVA                                                    31.13300
Lithuania    LTU                                                    29.59471
Norway       NOR                                                    28.46429
Poland       POL                                                    43.36165
Portugal     PRT                                                    37.76102
Spain        ESP                                                    29.55581
Switzerland  CHE                                                    22.31547


Series Name               GDP per capita (Current US$)
Country Name Country Code
Belgium      BEL                          44198.482391
Bulgaria     BGR                           8366.293221
Cyprus       CYP                          26697.171875
Czechia      CZE                          20636.199952
Denmark      DNK                          57610.098180
Estonia      EST                          20437.765377
Finland      FIN                          46412.136478
Hungary      HUN                          14621.239596
Latvia       LVA                          15695.115154
Lithuania    LTU                          16885.407395
Norway       NOR                          75496.754058
Poland       POL                          13815.621799
Portugal     PRT                          21490.429863
Spain        ESP                          28185.321367
Switzerland  CHE                          82254.376927