In [2]:
import pandas

In [3]:
data = pandas.read_excel("C:\\Users\\Agne\\Desktop\\PythonCourse\\Homework\\finalproject\\P_Data_Extract_From_Gender_Statistics (2).xlsx")
data

,Series Name,Series Code,Country Name,Country Code,2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,GDP per capita (Current US$),NY.GDP.PCAP.CD,Albania,ALB,3952.802538,4124.055390,4531.019374
1,GDP per capita (Current US$),NY.GDP.PCAP.CD,Andorra,AND,38885.376014,39932.164487,40632.484393
2,GDP per capita (Current US$),NY.GDP.PCAP.CD,Armenia,ARM,3666.141876,3679.951972,4041.995021
3,GDP per capita (Current US$),NY.GDP.PCAP.CD,Austria,AUT,44195.817595,45307.587862,47429.158456
4,GDP per capita (Current US$),NY.GDP.PCAP.CD,Azerbaijan,AZE,5500.310382,3880.738731,4147.089716
...,...,...,...,...,...,...,...
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Data from database: Gender Statistics,NaN,NaN,NaN,NaN,NaN,NaN
120,Last Updated: 05/12/2023,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data = data.drop(index=[116,117,118,119,120])
data

,Series Name,Series Code,Country Name,Country Code,2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,GDP per capita (Current US$),NY.GDP.PCAP.CD,Albania,ALB,3952.802538,4124.055390,4531.019374
1,GDP per capita (Current US$),NY.GDP.PCAP.CD,Andorra,AND,38885.376014,39932.164487,40632.484393
2,GDP per capita (Current US$),NY.GDP.PCAP.CD,Armenia,ARM,3666.141876,3679.951972,4041.995021
3,GDP per capita (Current US$),NY.GDP.PCAP.CD,Austria,AUT,44195.817595,45307.587862,47429.158456
4,GDP per capita (Current US$),NY.GDP.PCAP.CD,Azerbaijan,AZE,5500.310382,3880.738731,4147.089716
...,...,...,...,...,...,...,...
111,"Female share of graduates from Science, Techno...",SE.TER.GRAD.FE.SI.ZS,Turkiye,TUR,NaN,NaN,NaN
112,"Female share of graduates from Science, Techno...",SE.TER.GRAD.FE.SI.ZS,Turkmenistan,TKM,NaN,NaN,NaN
113,"Female share of graduates from Science, Techno...",SE.TER.GRAD.FE.SI.ZS,Ukraine,UKR,29.653210,29.491370,27.417900
114,"Female share of graduates from Science, Techno...",SE.TER.GRAD.FE.SI.ZS,United Kingdom,GBR,37.967290,38.103130,NaN
115,"Female share of graduates from Science, Techno...",SE.TER.GRAD.FE.SI.ZS,Uzbekistan,UZB,NaN,NaN,NaN

In [5]:
data = data.drop(columns='Series Code')
data = data.round(1)
data = data.loc[data["2015 [YR2015]"] != 0.0 ]
data

,Series Name,Country Name,Country Code,2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,GDP per capita (Current US$),Albania,ALB,3952.8,4124.1,4531.0
1,GDP per capita (Current US$),Andorra,AND,38885.4,39932.2,40632.5
2,GDP per capita (Current US$),Armenia,ARM,3666.1,3680.0,4042.0
3,GDP per capita (Current US$),Austria,AUT,44195.8,45307.6,47429.2
4,GDP per capita (Current US$),Azerbaijan,AZE,5500.3,3880.7,4147.1
...,...,...,...,...,...,...
111,"Female share of graduates from Science, Techno...",Turkiye,TUR,NaN,NaN,NaN
112,"Female share of graduates from Science, Techno...",Turkmenistan,TKM,NaN,NaN,NaN
113,"Female share of graduates from Science, Techno...",Ukraine,UKR,29.7,29.5,27.4
114,"Female share of graduates from Science, Techno...",United Kingdom,GBR,38.0,38.1,NaN
115,"Female share of graduates from Science, Techno...",Uzbekistan,UZB,NaN,NaN,NaN

In [6]:
data1 = data.pivot(index=['Country Name', 'Country Code'],
                       columns=['2015 [YR2015]','2016 [YR2016]','2017 [YR2017]'], values=['Series Name'])
data1

ValueError: Index contains duplicate entries, cannot reshape

In [179]:
data2 = data1.dropna()

In [180]:
data2

                                                                                                                                      2015 [YR2015]
Series Name                         Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name           Country Code
Albania                ALB                                                        52.8                                                               \
Armenia                ARM                                                        42.8
Azerbaijan             AZE                                                        33.4
Belarus                BLR                                                        26.3
Belgium                BEL                                                        26.6
Bosnia and Herzegovina BIH                                                        42.6
Bulgaria               BGR                                                        37.5
Croatia                HRV                                                        35.2
Cyprus                 CYP                                                        41.0
Czechia                CZE                                                        34.5
Denmark                DNK                                                        32.2
Estonia                EST                                                        40.5
Finland                FIN                                                        27.6
Germany                DEU                                                        26.8
Hungary                HUN                                                        31.7
Kyrgyz Republic        KGZ                                                        30.2
Latvia                 LVA                                                        31.4
Lithuania              LTU                                                        30.8
Norway                 NOR                                                        29.1
Poland                 POL                                                        43.6
Portugal               PRT                                                        39.0
Serbia                 SRB                                                        40.1
Spain                  ESP                                                        29.3
Sweden                 SWE                                                        33.8
Switzerland            CHE                                                        22.7
Ukraine                UKR                                                        29.7


Series Name                         GDP per capita (Current US$)
Country Name           Country Code
Albania                ALB                                3952.8  \
Armenia                ARM                                3666.1
Azerbaijan             AZE                                5500.3
Belarus                BLR                                5967.1
Belgium                BEL                               41008.3
Bosnia and Herzegovina BIH                                4599.9
Bulgaria               BGR                                7074.7
Croatia                HRV                               11952.3
Cyprus                 CYP                               23487.1
Czechia                CZE                               17829.7
Denmark                DNK                               53254.9
Estonia                EST                               17402.0
Finland                FIN                               42801.9
Germany                DEU                               41103.3
Hungary                HUN                               12717.0
Kyrgyz Republic        KGZ                                1121.1
Latvia                 LVA                               13786.5
Lithuania              LTU                               14264.0
Norway                 NOR                               74355.5
Poland                 POL                               12560.1
Portugal               PRT                               19250.1
Serbia                 SRB                                5589.0
Spain                  ESP                               25754.4
Sweden                 SWE                               51545.5
Switzerland            CHE                               83806.4
Ukraine                UKR                                2124.7

                                                                                                                                      2016 [YR2016]
Series Name                         Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name           Country Code
Albania                ALB                                                        48.3                                                               \
Armenia                ARM                                                        36.8
Azerbaijan             AZE                                                        34.8
Belarus                BLR                                                        27.0
Belgium                BEL                                                        27.5
Bosnia and Herzegovina BIH                                                        43.9
Bulgaria               BGR                                                        38.3
Croatia                HRV                                                        37.9
Cyprus                 CYP                                                        42.2
Czechia                CZE                                                        35.4
Denmark                DNK                                                        33.7
Estonia                EST                                                        38.3
Finland                FIN                                                        27.1
Germany                DEU                                                        27.1
Hungary                HUN                                                        31.5
Kyrgyz Republic        KGZ                                                        29.1
Latvia                 LVA                                                        31.9
Lithuania              LTU                                                        29.8
Norway                 NOR                                                        28.4
Poland                 POL                                                        44.1
Portugal               PRT                                                        39.1
Serbia                 SRB                                                        41.1
Spain                  ESP                                                        29.7
Sweden                 SWE                                                        35.2
Switzerland            CHE                                                        22.1
Ukraine                UKR                                                        29.5


Series Name                         GDP per capita (Current US$)
Country Name           Country Code
Albania                ALB                                4124.1  \
Armenia                ARM                                3680.0
Azerbaijan             AZE                                3880.7
Belarus                BLR                                5039.7
Belgium                BEL                               42012.6
Bosnia and Herzegovina BIH                                4858.8
Bulgaria               BGR                                7569.5
Croatia                HRV                               12552.3
Cyprus                 CYP                               24715.7
Czechia                CZE                               18575.2
Denmark                DNK                               54664.0
Estonia                EST                               18295.3
Finland                FIN                               43814.0
Germany                DEU                               42136.1
Hungary                HUN                               13104.7
Kyrgyz Republic        KGZ                                1120.7
Latvia                 LVA                               14331.8
Lithuania              LTU                               15008.3
Norway                 NOR                               70460.6
Poland                 POL                               12378.8
Portugal               PRT                               19992.0
Serbia                 SRB                                5765.2
Spain                  ESP                               26537.2
Sweden                 SWE                               51965.2
Switzerland            CHE                               82153.1
Ukraine                UKR                                2187.7

                                                                                                                                      2017 [YR2017]
Series Name                         Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name           Country Code
Albania                ALB                                                        48.6                                                               \
Armenia                ARM                                                        32.8
Azerbaijan             AZE                                                        40.1
Belarus                BLR                                                        26.7
Belgium                BEL                                                        25.8
Bosnia and Herzegovina BIH                                                        42.9
Bulgaria               BGR                                                        36.9
Croatia                HRV                                                        38.9
Cyprus                 CYP                                                        38.3
Czechia                CZE                                                        35.6
Denmark                DNK                                                        34.2
Estonia                EST                                                        38.4
Finland                FIN                                                        27.4
Germany                DEU                                                        27.6
Hungary                HUN                                                        31.7
Kyrgyz Republic        KGZ                                                        38.7
Latvia                 LVA                                                        31.1
Lithuania              LTU                                                        29.6
Norway                 NOR                                                        28.5
Poland                 POL                                                        43.4
Portugal               PRT                                                        37.8
Serbia                 SRB                                                        39.7
Spain                  ESP                                                        29.6
Sweden                 SWE                                                        35.5
Switzerland            CHE                                                        22.3
Ukraine                UKR                                                        27.4


Series Name                         GDP per capita (Current US$)
Country Name           Country Code
Albania                ALB                                4531.0
Armenia                ARM                                4042.0
Azerbaijan             AZE                                4147.1
Belarus                BLR                                5785.7
Belgium                BEL                               44198.5
Bosnia and Herzegovina BIH                                5255.8
Bulgaria               BGR                                8366.3
Croatia                HRV                               13655.8
Cyprus                 CYP                               26697.2
Czechia                CZE                               20636.2
Denmark                DNK                               57610.1
Estonia                EST                               20437.8
Finland                FIN                               46412.1
Germany                DEU                               44652.6
Hungary                HUN                               14621.2
Kyrgyz Republic        KGZ                                1242.8
Latvia                 LVA                               15695.1
Lithuania              LTU                               16885.4
Norway                 NOR                               75496.8
Poland                 POL                               13815.6
Portugal               PRT                               21490.4
Serbia                 SRB                                6292.5
Spain                  ESP                               28185.3
Sweden                 SWE                               53791.5
Switzerland            CHE                               82254.4
Ukraine                UKR                                2638.3

In [181]:
fstem2015mean = data2["2015 [YR2015]","Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)"].mean()

In [182]:
fstem2016mean = data2["2016 [YR2016]","Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)"].mean()

In [183]:
fstem2017mean = data2["2017 [YR2017]","Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)"].mean()

In [184]:
fstemyearmean = [fstem2015mean, fstem2016mean, fstem2017mean]

In [185]:
years = ["2015","2016","2017"]

In [186]:
import matplotlib.pyplot as pl
import numpy as np

In [187]:
data2.loc['Mean'] = data2.mean()
data2

C:\Users\Agne\AppData\Local\Temp\ipykernel_17376\616621251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.loc['Mean'] = data2.mean()

                                                                                                                                2015 [YR2015]
Series Name                   Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
(Albania, ALB)                                                         52.800000                                                               \
(Armenia, ARM)                                                         42.800000
(Azerbaijan, AZE)                                                      33.400000
(Belarus, BLR)                                                         26.300000
(Belgium, BEL)                                                         26.600000
(Bosnia and Herzegovina, BIH)                                          42.600000
(Bulgaria, BGR)                                                        37.500000
(Croatia, HRV)                                                         35.200000
(Cyprus, CYP)                                                          41.000000
(Czechia, CZE)                                                         34.500000
(Denmark, DNK)                                                         32.200000
(Estonia, EST)                                                         40.500000
(Finland, FIN)                                                         27.600000
(Germany, DEU)                                                         26.800000
(Hungary, HUN)                                                         31.700000
(Kyrgyz Republic, KGZ)                                                 30.200000
(Latvia, LVA)                                                          31.400000
(Lithuania, LTU)                                                       30.800000
(Norway, NOR)                                                          29.100000
(Poland, POL)                                                          43.600000
(Portugal, PRT)                                                        39.000000
(Serbia, SRB)                                                          40.100000
(Spain, ESP)                                                           29.300000
(Sweden, SWE)                                                          33.800000
(Switzerland, CHE)                                                     22.700000
(Ukraine, UKR)                                                         29.700000
Mean                                                                   34.276923


Series Name                   GDP per capita (Current US$)
(Albania, ALB)                                 3952.800000  \
(Armenia, ARM)                                 3666.100000
(Azerbaijan, AZE)                              5500.300000
(Belarus, BLR)                                 5967.100000
(Belgium, BEL)                                41008.300000
(Bosnia and Herzegovina, BIH)                  4599.900000
(Bulgaria, BGR)                                7074.700000
(Croatia, HRV)                                11952.300000
(Cyprus, CYP)                                 23487.100000
(Czechia, CZE)                                17829.700000
(Denmark, DNK)                                53254.900000
(Estonia, EST)                                17402.000000
(Finland, FIN)                                42801.900000
(Germany, DEU)                                41103.300000
(Hungary, HUN)                                12717.000000
(Kyrgyz Republic, KGZ)                         1121.100000
(Latvia, LVA)                                 13786.500000
(Lithuania, LTU)                              14264.000000
(Norway, NOR)                                 74355.500000
(Poland, POL)                                 12560.100000
(Portugal, PRT)                               19250.100000
(Serbia, SRB)                                  5589.000000
(Spain, ESP)                                  25754.400000
(Sweden, SWE)                                 51545.500000
(Switzerland, CHE)                            83806.400000
(Ukraine, UKR)                                 2124.700000
Mean                                          22941.334615

                                                                                                                                2016 [YR2016]
Series Name                   Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
(Albania, ALB)                                                         48.300000                                                               \
(Armenia, ARM)                                                         36.800000
(Azerbaijan, AZE)                                                      34.800000
(Belarus, BLR)                                                         27.000000
(Belgium, BEL)                                                         27.500000
(Bosnia and Herzegovina, BIH)                                          43.900000
(Bulgaria, BGR)                                                        38.300000
(Croatia, HRV)                                                         37.900000
(Cyprus, CYP)                                                          42.200000
(Czechia, CZE)                                                         35.400000
(Denmark, DNK)                                                         33.700000
(Estonia, EST)                                                         38.300000
(Finland, FIN)                                                         27.100000
(Germany, DEU)                                                         27.100000
(Hungary, HUN)                                                         31.500000
(Kyrgyz Republic, KGZ)                                                 29.100000
(Latvia, LVA)                                                          31.900000
(Lithuania, LTU)                                                       29.800000
(Norway, NOR)                                                          28.400000
(Poland, POL)                                                          44.100000
(Portugal, PRT)                                                        39.100000
(Serbia, SRB)                                                          41.100000
(Spain, ESP)                                                           29.700000
(Sweden, SWE)                                                          35.200000
(Switzerland, CHE)                                                     22.100000
(Ukraine, UKR)                                                         29.500000
Mean                                                                   34.223077


Series Name                   GDP per capita (Current US$)
(Albania, ALB)                                 4124.100000  \
(Armenia, ARM)                                 3680.000000
(Azerbaijan, AZE)                              3880.700000
(Belarus, BLR)                                 5039.700000
(Belgium, BEL)                                42012.600000
(Bosnia and Herzegovina, BIH)                  4858.800000
(Bulgaria, BGR)                                7569.500000
(Croatia, HRV)                                12552.300000
(Cyprus, CYP)                                 24715.700000
(Czechia, CZE)                                18575.200000
(Denmark, DNK)                                54664.000000
(Estonia, EST)                                18295.300000
(Finland, FIN)                                43814.000000
(Germany, DEU)                                42136.100000
(Hungary, HUN)                                13104.700000
(Kyrgyz Republic, KGZ)                         1120.700000
(Latvia, LVA)                                 14331.800000
(Lithuania, LTU)                              15008.300000
(Norway, NOR)                                 70460.600000
(Poland, POL)                                 12378.800000
(Portugal, PRT)                               19992.000000
(Serbia, SRB)                                  5765.200000
(Spain, ESP)                                  26537.200000
(Sweden, SWE)                                 51965.200000
(Switzerland, CHE)                            82153.100000
(Ukraine, UKR)                                 2187.700000
Mean                                          23112.434615

                                                                                                                                2017 [YR2017]
Series Name                   Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
(Albania, ALB)                                                         48.600000                                                               \
(Armenia, ARM)                                                         32.800000
(Azerbaijan, AZE)                                                      40.100000
(Belarus, BLR)                                                         26.700000
(Belgium, BEL)                                                         25.800000
(Bosnia and Herzegovina, BIH)                                          42.900000
(Bulgaria, BGR)                                                        36.900000
(Croatia, HRV)                                                         38.900000
(Cyprus, CYP)                                                          38.300000
(Czechia, CZE)                                                         35.600000
(Denmark, DNK)                                                         34.200000
(Estonia, EST)                                                         38.400000
(Finland, FIN)                                                         27.400000
(Germany, DEU)                                                         27.600000
(Hungary, HUN)                                                         31.700000
(Kyrgyz Republic, KGZ)                                                 38.700000
(Latvia, LVA)                                                          31.100000
(Lithuania, LTU)                                                       29.600000
(Norway, NOR)                                                          28.500000
(Poland, POL)                                                          43.400000
(Portugal, PRT)                                                        37.800000
(Serbia, SRB)                                                          39.700000
(Spain, ESP)                                                           29.600000
(Sweden, SWE)                                                          35.500000
(Switzerland, CHE)                                                     22.300000
(Ukraine, UKR)                                                         27.400000
Mean                                                                   34.211538


Series Name                   GDP per capita (Current US$)
(Albania, ALB)                                 4531.000000
(Armenia, ARM)                                 4042.000000
(Azerbaijan, AZE)                              4147.100000
(Belarus, BLR)                                 5785.700000
(Belgium, BEL)                                44198.500000
(Bosnia and Herzegovina, BIH)                  5255.800000
(Bulgaria, BGR)                                8366.300000
(Croatia, HRV)                                13655.800000
(Cyprus, CYP)                                 26697.200000
(Czechia, CZE)                                20636.200000
(Denmark, DNK)                                57610.100000
(Estonia, EST)                                20437.800000
(Finland, FIN)                                46412.100000
(Germany, DEU)                                44652.600000
(Hungary, HUN)                                14621.200000
(Kyrgyz Republic, KGZ)                         1242.800000
(Latvia, LVA)                                 15695.100000
(Lithuania, LTU)                              16885.400000
(Norway, NOR)                                 75496.800000
(Poland, POL)                                 13815.600000
(Portugal, PRT)                               21490.400000
(Serbia, SRB)                                  6292.500000
(Spain, ESP)                                  28185.300000
(Sweden, SWE)                                 53791.500000
(Switzerland, CHE)                            82254.400000
(Ukraine, UKR)                                 2638.300000
Mean                                          24570.673077

In [188]:
data_stem = data2[[('2015 [YR2015]','Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)'),
                   ('2016 [YR2016]','Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)'),
                  ('2017 [YR2017]','Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)')]]

In [189]:
data_stem

,2015 [YR2015],2016 [YR2016],2017 [YR2017]
Series Name,"Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)","Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)","Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)"
"(Albania, ALB)",52.800000,48.300000,48.600000
"(Armenia, ARM)",42.800000,36.800000,32.800000
"(Azerbaijan, AZE)",33.400000,34.800000,40.100000
"(Belarus, BLR)",26.300000,27.000000,26.700000
"(Belgium, BEL)",26.600000,27.500000,25.800000
"(Bosnia and Herzegovina, BIH)",42.600000,43.900000,42.900000
"(Bulgaria, BGR)",37.500000,38.300000,36.900000
"(Croatia, HRV)",35.200000,37.900000,38.900000
"(Cyprus, CYP)",41.000000,42.200000,38.300000
"(Czechia, CZE)",34.500000,35.400000,35.600000
"(Denmark, DNK)",32.200000,33.700000,34.200000
"(Estonia, EST)",40.500000,38.300000,38.400000
"(Finland, FIN)",27.600000,27.100000,27.400000
"(Germany, DEU)",26.800000,27.100000,27.600000
"(Hungary, HUN)",31.700000,31.500000,31.700000
"(Kyrgyz Republic, KGZ)",30.200000,29.100000,38.700000
"(Latvia, LVA)",31.400000,31.900000,31.100000
"(Lithuania, LTU)",30.800000,29.800000,29.600000
"(Norway, NOR)",29.100000,28.400000,28.500000
"(Poland, POL)",43.600000,44.100000,43.400000
"(Portugal, PRT)",39.000000,39.100000,37.800000
"(Serbia, SRB)",40.100000,41.100000,39.700000
"(Spain, ESP)",29.300000,29.700000,29.600000
"(Sweden, SWE)",33.800000,35.200000,35.500000
"(Switzerland, CHE)",22.700000,22.100000,22.300000
"(Ukraine, UKR)",29.700000,29.500000,27.400000
Mean,34.276923,34.223077,34.211538

In [190]:
data_stem_mean = data_stem.mean(axis=1)

In [191]:
data_stem_mean.to_list()

[49.9,
 37.46666666666666,
 36.099999999999994,
 26.666666666666668,
 26.633333333333336,
 43.13333333333333,
 37.56666666666666,
 37.333333333333336,
 40.5,
 35.166666666666664,
 33.36666666666667,
 39.06666666666666,
 27.366666666666664,
 27.166666666666668,
 31.633333333333336,
 32.666666666666664,
 31.46666666666667,
 30.066666666666666,
 28.666666666666668,
 43.699999999999996,
 38.63333333333333,
 40.300000000000004,
 29.53333333333333,
 34.833333333333336,
 22.366666666666664,
 28.866666666666664,
 34.23717948717948]

In [192]:
data_gdp = data2[[('2015 [YR2015]','GDP per capita (Current US$)'),
                   ('2016 [YR2016]','GDP per capita (Current US$)'),
                  ('2017 [YR2017]','GDP per capita (Current US$)')]]

In [193]:
data_gdp

,2015 [YR2015],2016 [YR2016],2017 [YR2017]
Series Name,GDP per capita (Current US$),GDP per capita (Current US$),GDP per capita (Current US$)
"(Albania, ALB)",3952.800000,4124.100000,4531.000000
"(Armenia, ARM)",3666.100000,3680.000000,4042.000000
"(Azerbaijan, AZE)",5500.300000,3880.700000,4147.100000
"(Belarus, BLR)",5967.100000,5039.700000,5785.700000
"(Belgium, BEL)",41008.300000,42012.600000,44198.500000
"(Bosnia and Herzegovina, BIH)",4599.900000,4858.800000,5255.800000
"(Bulgaria, BGR)",7074.700000,7569.500000,8366.300000
"(Croatia, HRV)",11952.300000,12552.300000,13655.800000
"(Cyprus, CYP)",23487.100000,24715.700000,26697.200000
"(Czechia, CZE)",17829.700000,18575.200000,20636.200000
"(Denmark, DNK)",53254.900000,54664.000000,57610.100000
"(Estonia, EST)",17402.000000,18295.300000,20437.800000
"(Finland, FIN)",42801.900000,43814.000000,46412.100000
"(Germany, DEU)",41103.300000,42136.100000,44652.600000
"(Hungary, HUN)",12717.000000,13104.700000,14621.200000
"(Kyrgyz Republic, KGZ)",1121.100000,1120.700000,1242.800000
"(Latvia, LVA)",13786.500000,14331.800000,15695.100000
"(Lithuania, LTU)",14264.000000,15008.300000,16885.400000
"(Norway, NOR)",74355.500000,70460.600000,75496.800000
"(Poland, POL)",12560.100000,12378.800000,13815.600000
"(Portugal, PRT)",19250.100000,19992.000000,21490.400000
"(Serbia, SRB)",5589.000000,5765.200000,6292.500000
"(Spain, ESP)",25754.400000,26537.200000,28185.300000
"(Sweden, SWE)",51545.500000,51965.200000,53791.500000
"(Switzerland, CHE)",83806.400000,82153.100000,82254.400000
"(Ukraine, UKR)",2124.700000,2187.700000,2638.300000
Mean,22941.334615,23112.434615,24570.673077

In [194]:
data_gdp_mean = data_gdp.mean(axis=1)

In [195]:
data_gdp_mean.to_list()

[4202.633333333334,
 3796.0333333333333,
 4509.366666666667,
 5597.5,
 42406.46666666667,
 4904.833333333333,
 7670.166666666667,
 12720.133333333331,
 24966.666666666668,
 19013.7,
 55176.333333333336,
 18711.7,
 44342.666666666664,
 42630.666666666664,
 13480.966666666667,
 1161.5333333333335,
 14604.466666666667,
 15385.9,
 73437.63333333335,
 12918.166666666666,
 20244.166666666668,
 5882.233333333334,
 26825.633333333335,
 52434.06666666667,
 82737.96666666666,
 2316.9,
 23541.48076923077]

In [196]:
data2["Mean of female share of graduates from STEM programmes, tertiary (%)"] = data_stem_mean.to_list()
data2["Mean GDP per capita (Current US$)"] = data_gdp_mean.to_list()

C:\Users\Agne\AppData\Local\Temp\ipykernel_17376\2822061274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["Mean of female share of graduates from STEM programmes, tertiary (%)"] = data_stem_mean.to_list()
C:\Users\Agne\AppData\Local\Temp\ipykernel_17376\2822061274.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["Mean GDP per capita (Current US$)"] = data_gdp_mean.to_list()

In [197]:
data2

                                                                                                                                2015 [YR2015]
Series Name                   Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
(Albania, ALB)                                                         52.800000                                                               \
(Armenia, ARM)                                                         42.800000
(Azerbaijan, AZE)                                                      33.400000
(Belarus, BLR)                                                         26.300000
(Belgium, BEL)                                                         26.600000
(Bosnia and Herzegovina, BIH)                                          42.600000
(Bulgaria, BGR)                                                        37.500000
(Croatia, HRV)                                                         35.200000
(Cyprus, CYP)                                                          41.000000
(Czechia, CZE)                                                         34.500000
(Denmark, DNK)                                                         32.200000
(Estonia, EST)                                                         40.500000
(Finland, FIN)                                                         27.600000
(Germany, DEU)                                                         26.800000
(Hungary, HUN)                                                         31.700000
(Kyrgyz Republic, KGZ)                                                 30.200000
(Latvia, LVA)                                                          31.400000
(Lithuania, LTU)                                                       30.800000
(Norway, NOR)                                                          29.100000
(Poland, POL)                                                          43.600000
(Portugal, PRT)                                                        39.000000
(Serbia, SRB)                                                          40.100000
(Spain, ESP)                                                           29.300000
(Sweden, SWE)                                                          33.800000
(Switzerland, CHE)                                                     22.700000
(Ukraine, UKR)                                                         29.700000
Mean                                                                   34.276923


Series Name                   GDP per capita (Current US$)
(Albania, ALB)                                 3952.800000  \
(Armenia, ARM)                                 3666.100000
(Azerbaijan, AZE)                              5500.300000
(Belarus, BLR)                                 5967.100000
(Belgium, BEL)                                41008.300000
(Bosnia and Herzegovina, BIH)                  4599.900000
(Bulgaria, BGR)                                7074.700000
(Croatia, HRV)                                11952.300000
(Cyprus, CYP)                                 23487.100000
(Czechia, CZE)                                17829.700000
(Denmark, DNK)                                53254.900000
(Estonia, EST)                                17402.000000
(Finland, FIN)                                42801.900000
(Germany, DEU)                                41103.300000
(Hungary, HUN)                                12717.000000
(Kyrgyz Republic, KGZ)                         1121.100000
(Latvia, LVA)                                 13786.500000
(Lithuania, LTU)                              14264.000000
(Norway, NOR)                                 74355.500000
(Poland, POL)                                 12560.100000
(Portugal, PRT)                               19250.100000
(Serbia, SRB)                                  5589.000000
(Spain, ESP)                                  25754.400000
(Sweden, SWE)                                 51545.500000
(Switzerland, CHE)                            83806.400000
(Ukraine, UKR)                                 2124.700000
Mean                                          22941.334615

                                                                                                                                2016 [YR2016]
Series Name                   Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
(Albania, ALB)                                                         48.300000                                                               \
(Armenia, ARM)                                                         36.800000
(Azerbaijan, AZE)                                                      34.800000
(Belarus, BLR)                                                         27.000000
(Belgium, BEL)                                                         27.500000
(Bosnia and Herzegovina, BIH)                                          43.900000
(Bulgaria, BGR)                                                        38.300000
(Croatia, HRV)                                                         37.900000
(Cyprus, CYP)                                                          42.200000
(Czechia, CZE)                                                         35.400000
(Denmark, DNK)                                                         33.700000
(Estonia, EST)                                                         38.300000
(Finland, FIN)                                                         27.100000
(Germany, DEU)                                                         27.100000
(Hungary, HUN)                                                         31.500000
(Kyrgyz Republic, KGZ)                                                 29.100000
(Latvia, LVA)                                                          31.900000
(Lithuania, LTU)                                                       29.800000
(Norway, NOR)                                                          28.400000
(Poland, POL)                                                          44.100000
(Portugal, PRT)                                                        39.100000
(Serbia, SRB)                                                          41.100000
(Spain, ESP)                                                           29.700000
(Sweden, SWE)                                                          35.200000
(Switzerland, CHE)                                                     22.100000
(Ukraine, UKR)                                                         29.500000
Mean                                                                   34.223077


Series Name                   GDP per capita (Current US$)
(Albania, ALB)                                 4124.100000  \
(Armenia, ARM)                                 3680.000000
(Azerbaijan, AZE)                              3880.700000
(Belarus, BLR)                                 5039.700000
(Belgium, BEL)                                42012.600000
(Bosnia and Herzegovina, BIH)                  4858.800000
(Bulgaria, BGR)                                7569.500000
(Croatia, HRV)                                12552.300000
(Cyprus, CYP)                                 24715.700000
(Czechia, CZE)                                18575.200000
(Denmark, DNK)                                54664.000000
(Estonia, EST)                                18295.300000
(Finland, FIN)                                43814.000000
(Germany, DEU)                                42136.100000
(Hungary, HUN)                                13104.700000
(Kyrgyz Republic, KGZ)                         1120.700000
(Latvia, LVA)                                 14331.800000
(Lithuania, LTU)                              15008.300000
(Norway, NOR)                                 70460.600000
(Poland, POL)                                 12378.800000
(Portugal, PRT)                               19992.000000
(Serbia, SRB)                                  5765.200000
(Spain, ESP)                                  26537.200000
(Sweden, SWE)                                 51965.200000
(Switzerland, CHE)                            82153.100000
(Ukraine, UKR)                                 2187.700000
Mean                                          23112.434615

                                                                                                                                2017 [YR2017]
Series Name                   Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
(Albania, ALB)                                                         48.600000                                                               \
(Armenia, ARM)                                                         32.800000
(Azerbaijan, AZE)                                                      40.100000
(Belarus, BLR)                                                         26.700000
(Belgium, BEL)                                                         25.800000
(Bosnia and Herzegovina, BIH)                                          42.900000
(Bulgaria, BGR)                                                        36.900000
(Croatia, HRV)                                                         38.900000
(Cyprus, CYP)                                                          38.300000
(Czechia, CZE)                                                         35.600000
(Denmark, DNK)                                                         34.200000
(Estonia, EST)                                                         38.400000
(Finland, FIN)                                                         27.400000
(Germany, DEU)                                                         27.600000
(Hungary, HUN)                                                         31.700000
(Kyrgyz Republic, KGZ)                                                 38.700000
(Latvia, LVA)                                                          31.100000
(Lithuania, LTU)                                                       29.600000
(Norway, NOR)                                                          28.500000
(Poland, POL)                                                          43.400000
(Portugal, PRT)                                                        37.800000
(Serbia, SRB)                                                          39.700000
(Spain, ESP)                                                           29.600000
(Sweden, SWE)                                                          35.500000
(Switzerland, CHE)                                                     22.300000
(Ukraine, UKR)                                                         27.400000
Mean                                                                   34.211538


Series Name                   GDP per capita (Current US$)
(Albania, ALB)                                 4531.000000  \
(Armenia, ARM)                                 4042.000000
(Azerbaijan, AZE)                              4147.100000
(Belarus, BLR)                                 5785.700000
(Belgium, BEL)                                44198.500000
(Bosnia and Herzegovina, BIH)                  5255.800000
(Bulgaria, BGR)                                8366.300000
(Croatia, HRV)                                13655.800000
(Cyprus, CYP)                                 26697.200000
(Czechia, CZE)                                20636.200000
(Denmark, DNK)                                57610.100000
(Estonia, EST)                                20437.800000
(Finland, FIN)                                46412.100000
(Germany, DEU)                                44652.600000
(Hungary, HUN)                                14621.200000
(Kyrgyz Republic, KGZ)                         1242.800000
(Latvia, LVA)                                 15695.100000
(Lithuania, LTU)                              16885.400000
(Norway, NOR)                                 75496.800000
(Poland, POL)                                 13815.600000
(Portugal, PRT)                               21490.400000
(Serbia, SRB)                                  6292.500000
(Spain, ESP)                                  28185.300000
(Sweden, SWE)                                 53791.500000
(Switzerland, CHE)                            82254.400000
(Ukraine, UKR)                                 2638.300000
Mean                                          24570.673077

                              Mean of female share of graduates from STEM programmes, tertiary (%)
Series Name
(Albania, ALB)                                                         49.900000                    \
(Armenia, ARM)                                                         37.466667
(Azerbaijan, AZE)                                                      36.100000
(Belarus, BLR)                                                         26.666667
(Belgium, BEL)                                                         26.633333
(Bosnia and Herzegovina, BIH)                                          43.133333
(Bulgaria, BGR)                                                        37.566667
(Croatia, HRV)                                                         37.333333
(Cyprus, CYP)                                                          40.500000
(Czechia, CZE)                                                         35.166667
(Denmark, DNK)                                                         33.366667
(Estonia, EST)                                                         39.066667
(Finland, FIN)                                                         27.366667
(Germany, DEU)                                                         27.166667
(Hungary, HUN)                                                         31.633333
(Kyrgyz Republic, KGZ)                                                 32.666667
(Latvia, LVA)                                                          31.466667
(Lithuania, LTU)                                                       30.066667
(Norway, NOR)                                                          28.666667
(Poland, POL)                                                          43.700000
(Portugal, PRT)                                                        38.633333
(Serbia, SRB)                                                          40.300000
(Spain, ESP)                                                           29.533333
(Sweden, SWE)                                                          34.833333
(Switzerland, CHE)                                                     22.366667
(Ukraine, UKR)                                                         28.866667
Mean                                                                   34.237179

                              Mean GDP per capita (Current US$)
Series Name
(Albania, ALB)                                      4202.633333
(Armenia, ARM)                                      3796.033333
(Azerbaijan, AZE)                                   4509.366667
(Belarus, BLR)                                      5597.500000
(Belgium, BEL)                                     42406.466667
(Bosnia and Herzegovina, BIH)                       4904.833333
(Bulgaria, BGR)                                     7670.166667
(Croatia, HRV)                                     12720.133333
(Cyprus, CYP)                                      24966.666667
(Czechia, CZE)                                     19013.700000
(Denmark, DNK)                                     55176.333333
(Estonia, EST)                                     18711.700000
(Finland, FIN)                                     44342.666667
(Germany, DEU)                                     42630.666667
(Hungary, HUN)                                     13480.966667
(Kyrgyz Republic, KGZ)                              1161.533333
(Latvia, LVA)                                      14604.466667
(Lithuania, LTU)                                   15385.900000
(Norway, NOR)                                      73437.633333
(Poland, POL)                                      12918.166667
(Portugal, PRT)                                    20244.166667
(Serbia, SRB)                                       5882.233333
(Spain, ESP)                                       26825.633333
(Sweden, SWE)                                      52434.066667
(Switzerland, CHE)                                 82737.966667
(Ukraine, UKR)                                      2316.900000
Mean                                               23541.480769

In [198]:
data2.round(1)

                                                                                                                                2015 [YR2015]
Series Name                   Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
(Albania, ALB)                                                              52.8                                                               \
(Armenia, ARM)                                                              42.8
(Azerbaijan, AZE)                                                           33.4
(Belarus, BLR)                                                              26.3
(Belgium, BEL)                                                              26.6
(Bosnia and Herzegovina, BIH)                                               42.6
(Bulgaria, BGR)                                                             37.5
(Croatia, HRV)                                                              35.2
(Cyprus, CYP)                                                               41.0
(Czechia, CZE)                                                              34.5
(Denmark, DNK)                                                              32.2
(Estonia, EST)                                                              40.5
(Finland, FIN)                                                              27.6
(Germany, DEU)                                                              26.8
(Hungary, HUN)                                                              31.7
(Kyrgyz Republic, KGZ)                                                      30.2
(Latvia, LVA)                                                               31.4
(Lithuania, LTU)                                                            30.8
(Norway, NOR)                                                               29.1
(Poland, POL)                                                               43.6
(Portugal, PRT)                                                             39.0
(Serbia, SRB)                                                               40.1
(Spain, ESP)                                                                29.3
(Sweden, SWE)                                                               33.8
(Switzerland, CHE)                                                          22.7
(Ukraine, UKR)                                                              29.7
Mean                                                                        34.3


Series Name                   GDP per capita (Current US$)
(Albania, ALB)                                      3952.8  \
(Armenia, ARM)                                      3666.1
(Azerbaijan, AZE)                                   5500.3
(Belarus, BLR)                                      5967.1
(Belgium, BEL)                                     41008.3
(Bosnia and Herzegovina, BIH)                       4599.9
(Bulgaria, BGR)                                     7074.7
(Croatia, HRV)                                     11952.3
(Cyprus, CYP)                                      23487.1
(Czechia, CZE)                                     17829.7
(Denmark, DNK)                                     53254.9
(Estonia, EST)                                     17402.0
(Finland, FIN)                                     42801.9
(Germany, DEU)                                     41103.3
(Hungary, HUN)                                     12717.0
(Kyrgyz Republic, KGZ)                              1121.1
(Latvia, LVA)                                      13786.5
(Lithuania, LTU)                                   14264.0
(Norway, NOR)                                      74355.5
(Poland, POL)                                      12560.1
(Portugal, PRT)                                    19250.1
(Serbia, SRB)                                       5589.0
(Spain, ESP)                                       25754.4
(Sweden, SWE)                                      51545.5
(Switzerland, CHE)                                 83806.4
(Ukraine, UKR)                                      2124.7
Mean                                               22941.3

                                                                                                                                2016 [YR2016]
Series Name                   Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
(Albania, ALB)                                                              48.3                                                               \
(Armenia, ARM)                                                              36.8
(Azerbaijan, AZE)                                                           34.8
(Belarus, BLR)                                                              27.0
(Belgium, BEL)                                                              27.5
(Bosnia and Herzegovina, BIH)                                               43.9
(Bulgaria, BGR)                                                             38.3
(Croatia, HRV)                                                              37.9
(Cyprus, CYP)                                                               42.2
(Czechia, CZE)                                                              35.4
(Denmark, DNK)                                                              33.7
(Estonia, EST)                                                              38.3
(Finland, FIN)                                                              27.1
(Germany, DEU)                                                              27.1
(Hungary, HUN)                                                              31.5
(Kyrgyz Republic, KGZ)                                                      29.1
(Latvia, LVA)                                                               31.9
(Lithuania, LTU)                                                            29.8
(Norway, NOR)                                                               28.4
(Poland, POL)                                                               44.1
(Portugal, PRT)                                                             39.1
(Serbia, SRB)                                                               41.1
(Spain, ESP)                                                                29.7
(Sweden, SWE)                                                               35.2
(Switzerland, CHE)                                                          22.1
(Ukraine, UKR)                                                              29.5
Mean                                                                        34.2


Series Name                   GDP per capita (Current US$)
(Albania, ALB)                                      4124.1  \
(Armenia, ARM)                                      3680.0
(Azerbaijan, AZE)                                   3880.7
(Belarus, BLR)                                      5039.7
(Belgium, BEL)                                     42012.6
(Bosnia and Herzegovina, BIH)                       4858.8
(Bulgaria, BGR)                                     7569.5
(Croatia, HRV)                                     12552.3
(Cyprus, CYP)                                      24715.7
(Czechia, CZE)                                     18575.2
(Denmark, DNK)                                     54664.0
(Estonia, EST)                                     18295.3
(Finland, FIN)                                     43814.0
(Germany, DEU)                                     42136.1
(Hungary, HUN)                                     13104.7
(Kyrgyz Republic, KGZ)                              1120.7
(Latvia, LVA)                                      14331.8
(Lithuania, LTU)                                   15008.3
(Norway, NOR)                                      70460.6
(Poland, POL)                                      12378.8
(Portugal, PRT)                                    19992.0
(Serbia, SRB)                                       5765.2
(Spain, ESP)                                       26537.2
(Sweden, SWE)                                      51965.2
(Switzerland, CHE)                                 82153.1
(Ukraine, UKR)                                      2187.7
Mean                                               23112.4

                                                                                                                                2017 [YR2017]
Series Name                   Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
(Albania, ALB)                                                              48.6                                                               \
(Armenia, ARM)                                                              32.8
(Azerbaijan, AZE)                                                           40.1
(Belarus, BLR)                                                              26.7
(Belgium, BEL)                                                              25.8
(Bosnia and Herzegovina, BIH)                                               42.9
(Bulgaria, BGR)                                                             36.9
(Croatia, HRV)                                                              38.9
(Cyprus, CYP)                                                               38.3
(Czechia, CZE)                                                              35.6
(Denmark, DNK)                                                              34.2
(Estonia, EST)                                                              38.4
(Finland, FIN)                                                              27.4
(Germany, DEU)                                                              27.6
(Hungary, HUN)                                                              31.7
(Kyrgyz Republic, KGZ)                                                      38.7
(Latvia, LVA)                                                               31.1
(Lithuania, LTU)                                                            29.6
(Norway, NOR)                                                               28.5
(Poland, POL)                                                               43.4
(Portugal, PRT)                                                             37.8
(Serbia, SRB)                                                               39.7
(Spain, ESP)                                                                29.6
(Sweden, SWE)                                                               35.5
(Switzerland, CHE)                                                          22.3
(Ukraine, UKR)                                                              27.4
Mean                                                                        34.2


Series Name                   GDP per capita (Current US$)
(Albania, ALB)                                      4531.0  \
(Armenia, ARM)                                      4042.0
(Azerbaijan, AZE)                                   4147.1
(Belarus, BLR)                                      5785.7
(Belgium, BEL)                                     44198.5
(Bosnia and Herzegovina, BIH)                       5255.8
(Bulgaria, BGR)                                     8366.3
(Croatia, HRV)                                     13655.8
(Cyprus, CYP)                                      26697.2
(Czechia, CZE)                                     20636.2
(Denmark, DNK)                                     57610.1
(Estonia, EST)                                     20437.8
(Finland, FIN)                                     46412.1
(Germany, DEU)                                     44652.6
(Hungary, HUN)                                     14621.2
(Kyrgyz Republic, KGZ)                              1242.8
(Latvia, LVA)                                      15695.1
(Lithuania, LTU)                                   16885.4
(Norway, NOR)                                      75496.8
(Poland, POL)                                      13815.6
(Portugal, PRT)                                    21490.4
(Serbia, SRB)                                       6292.5
(Spain, ESP)                                       28185.3
(Sweden, SWE)                                      53791.5
(Switzerland, CHE)                                 82254.4
(Ukraine, UKR)                                      2638.3
Mean                                               24570.7

                              Mean of female share of graduates from STEM programmes, tertiary (%)
Series Name
(Albania, ALB)                                                              49.9                    \
(Armenia, ARM)                                                              37.5
(Azerbaijan, AZE)                                                           36.1
(Belarus, BLR)                                                              26.7
(Belgium, BEL)                                                              26.6
(Bosnia and Herzegovina, BIH)                                               43.1
(Bulgaria, BGR)                                                             37.6
(Croatia, HRV)                                                              37.3
(Cyprus, CYP)                                                               40.5
(Czechia, CZE)                                                              35.2
(Denmark, DNK)                                                              33.4
(Estonia, EST)                                                              39.1
(Finland, FIN)                                                              27.4
(Germany, DEU)                                                              27.2
(Hungary, HUN)                                                              31.6
(Kyrgyz Republic, KGZ)                                                      32.7
(Latvia, LVA)                                                               31.5
(Lithuania, LTU)                                                            30.1
(Norway, NOR)                                                               28.7
(Poland, POL)                                                               43.7
(Portugal, PRT)                                                             38.6
(Serbia, SRB)                                                               40.3
(Spain, ESP)                                                                29.5
(Sweden, SWE)                                                               34.8
(Switzerland, CHE)                                                          22.4
(Ukraine, UKR)                                                              28.9
Mean                                                                        34.2

                              Mean GDP per capita (Current US$)
Series Name
(Albania, ALB)                                           4202.6
(Armenia, ARM)                                           3796.0
(Azerbaijan, AZE)                                        4509.4
(Belarus, BLR)                                           5597.5
(Belgium, BEL)                                          42406.5
(Bosnia and Herzegovina, BIH)                            4904.8
(Bulgaria, BGR)                                          7670.2
(Croatia, HRV)                                          12720.1
(Cyprus, CYP)                                           24966.7
(Czechia, CZE)                                          19013.7
(Denmark, DNK)                                          55176.3
(Estonia, EST)                                          18711.7
(Finland, FIN)                                          44342.7
(Germany, DEU)                                          42630.7
(Hungary, HUN)                                          13481.0
(Kyrgyz Republic, KGZ)                                   1161.5
(Latvia, LVA)                                           14604.5
(Lithuania, LTU)                                        15385.9
(Norway, NOR)                                           73437.6
(Poland, POL)                                           12918.2
(Portugal, PRT)                                         20244.2
(Serbia, SRB)                                            5882.2
(Spain, ESP)                                            26825.6
(Sweden, SWE)                                           52434.1
(Switzerland, CHE)                                      82738.0
(Ukraine, UKR)                                           2316.9
Mean                                                    23541.5