In [2]:
import pandas

In [5]:
data = pandas.read_excel("C:\\Users\\Agne\\Desktop\\PythonCourse\\Homework\\finalproject\\P_Data_Extract_From_Gender_Statistics (2).xlsx")
data

,Series Name,Series Code,Country Name,Country Code,2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,GDP per capita (Current US$),NY.GDP.PCAP.CD,Albania,ALB,3952.802538,4124.055390,4531.019374
1,GDP per capita (Current US$),NY.GDP.PCAP.CD,Andorra,AND,38885.376014,39932.164487,40632.484393
2,GDP per capita (Current US$),NY.GDP.PCAP.CD,Armenia,ARM,3666.141876,3679.951972,4041.995021
3,GDP per capita (Current US$),NY.GDP.PCAP.CD,Austria,AUT,44195.817595,45307.587862,47429.158456
4,GDP per capita (Current US$),NY.GDP.PCAP.CD,Azerbaijan,AZE,5500.310382,3880.738731,4147.089716
...,...,...,...,...,...,...,...
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Data from database: Gender Statistics,NaN,NaN,NaN,NaN,NaN,NaN
120,Last Updated: 05/12/2023,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data = data.drop(index=[116,117,118,119,120])
data

,Series Name,Series Code,Country Name,Country Code,2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,GDP per capita (Current US$),NY.GDP.PCAP.CD,Albania,ALB,3952.802538,4124.055390,4531.019374
1,GDP per capita (Current US$),NY.GDP.PCAP.CD,Andorra,AND,38885.376014,39932.164487,40632.484393
2,GDP per capita (Current US$),NY.GDP.PCAP.CD,Armenia,ARM,3666.141876,3679.951972,4041.995021
3,GDP per capita (Current US$),NY.GDP.PCAP.CD,Austria,AUT,44195.817595,45307.587862,47429.158456
4,GDP per capita (Current US$),NY.GDP.PCAP.CD,Azerbaijan,AZE,5500.310382,3880.738731,4147.089716
...,...,...,...,...,...,...,...
111,"Female share of graduates from Science, Techno...",SE.TER.GRAD.FE.SI.ZS,Turkiye,TUR,NaN,NaN,NaN
112,"Female share of graduates from Science, Techno...",SE.TER.GRAD.FE.SI.ZS,Turkmenistan,TKM,NaN,NaN,NaN
113,"Female share of graduates from Science, Techno...",SE.TER.GRAD.FE.SI.ZS,Ukraine,UKR,29.653210,29.491370,27.417900
114,"Female share of graduates from Science, Techno...",SE.TER.GRAD.FE.SI.ZS,United Kingdom,GBR,37.967290,38.103130,NaN
115,"Female share of graduates from Science, Techno...",SE.TER.GRAD.FE.SI.ZS,Uzbekistan,UZB,NaN,NaN,NaN

In [7]:
data = data.drop(columns='Series Code')
data

,Series Name,Country Name,Country Code,2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,GDP per capita (Current US$),Albania,ALB,3952.802538,4124.055390,4531.019374
1,GDP per capita (Current US$),Andorra,AND,38885.376014,39932.164487,40632.484393
2,GDP per capita (Current US$),Armenia,ARM,3666.141876,3679.951972,4041.995021
3,GDP per capita (Current US$),Austria,AUT,44195.817595,45307.587862,47429.158456
4,GDP per capita (Current US$),Azerbaijan,AZE,5500.310382,3880.738731,4147.089716
...,...,...,...,...,...,...
111,"Female share of graduates from Science, Techno...",Turkiye,TUR,NaN,NaN,NaN
112,"Female share of graduates from Science, Techno...",Turkmenistan,TKM,NaN,NaN,NaN
113,"Female share of graduates from Science, Techno...",Ukraine,UKR,29.653210,29.491370,27.417900
114,"Female share of graduates from Science, Techno...",United Kingdom,GBR,37.967290,38.103130,NaN
115,"Female share of graduates from Science, Techno...",Uzbekistan,UZB,NaN,NaN,NaN

In [8]:
data1 = data.pivot(index=['Country Name', 'Country Code'],
                       columns=['Series Name'], values=['2015 [YR2015]','2016 [YR2016]','2017 [YR2017]'])
data1

                                                                                                                                      2015 [YR2015]
Series Name                         Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name           Country Code
Albania                ALB                                                    52.78050                                                               \
Andorra                AND                                                     0.00000
Armenia                ARM                                                    42.78682
Austria                AUT                                                    25.29697
Azerbaijan             AZE                                                    33.43420
Belarus                BLR                                                    26.31468
Belgium                BEL                                                    26.55760
Bosnia and Herzegovina BIH                                                    42.56293
Bulgaria               BGR                                                    37.48946
Channel Islands        CHI                                                         NaN
Croatia                HRV                                                    35.22319
Cyprus                 CYP                                                    41.01449
Czechia                CZE                                                    34.52674
Denmark                DNK                                                    32.19910
Estonia                EST                                                    40.54735
Faroe Islands          FRO                                                         NaN
Finland                FIN                                                    27.55127
France                 FRA                                                    31.23152
Georgia                GEO                                                         NaN
Germany                DEU                                                    26.84921
Gibraltar              GIB                                                         NaN
Greece                 GRC                                                         NaN
Greenland              GRL                                                         NaN
Hungary                HUN                                                    31.69457
Iceland                ISL                                                         NaN
Ireland                IRL                                                    28.65679
Isle of Man            IMN                                                         NaN
Italy                  ITA                                                    40.51629
Kazakhstan             KAZ                                                         NaN
Kosovo                 XKX                                                         NaN
Kyrgyz Republic        KGZ                                                    30.17125
Latvia                 LVA                                                    31.44744
Liechtenstein          LIE                                                         NaN
Lithuania              LTU                                                    30.80645
Luxembourg             LUX                                                    21.83099
Moldova                MDA                                                    32.16016
Monaco                 MCO                                                         NaN
Montenegro             MNE                                                         NaN
Netherlands            NLD                                                         NaN
North Macedonia        MKD                                                    45.14388
Norway                 NOR                                                    29.06093
Poland                 POL                                                    43.62705
Portugal               PRT                                                    38.96266
Romania                ROU                                                    41.73472
Russian Federation     RUS                                                         NaN
San Marino             SMR                                                         NaN
Serbia                 SRB                                                    40.11325
Slovak Republic        SVK                                                    35.57759
Slovenia               SVN                                                    33.33333
Spain                  ESP                                                    29.34966
Sweden                 SWE                                                    33.80372
Switzerland            CHE                                                    22.73355
Tajikistan             TJK                                                         NaN
Turkiye                TUR                                                         NaN
Turkmenistan           TKM                                                         NaN
Ukraine                UKR                                                    29.65321
United Kingdom         GBR                                                    37.96729
Uzbekistan             UZB                                                         NaN


Series Name                         GDP per capita (Current US$)
Country Name           Country Code
Albania                ALB                           3952.802538  \
Andorra                AND                          38885.376014
Armenia                ARM                           3666.141876
Austria                AUT                          44195.817595
Azerbaijan             AZE                           5500.310382
Belarus                BLR                           5967.052204
Belgium                BEL                          41008.296719
Bosnia and Herzegovina BIH                           4599.901029
Bulgaria               BGR                           7074.681023
Channel Islands        CHI                                   NaN
Croatia                HRV                          11952.311175
Cyprus                 CYP                          23487.125000
Czechia                CZE                          17829.698322
Denmark                DNK                          53254.856370
Estonia                EST                          17402.037613
Faroe Islands          FRO                          52726.742237
Finland                FIN                          42801.908117
France                 FRA                          36652.922305
Georgia                GEO                           4014.185944
Germany                DEU                          41103.256436
Gibraltar              GIB                                   NaN
Greece                 GRC                          18083.877906
Greenland              GRL                          44536.401308
Hungary                HUN                          12717.038597
Iceland                ISL                          52951.681511
Ireland                IRL                          62053.984438
Isle of Man            IMN                          84759.345951
Italy                  ITA                          30242.386135
Kazakhstan             KAZ                          10510.771888
Kosovo                 XKX                           3520.766449
Kyrgyz Republic        KGZ                           1121.082835
Latvia                 LVA                          13786.456795
Liechtenstein          LIE                         167805.956932
Lithuania              LTU                          14263.964577
Luxembourg             LUX                         105462.012584
Moldova                MDA                           2731.065584
Monaco                 MCO                         170337.924413
Montenegro             MNE                           6517.163752
Netherlands            NLD                          45193.403219
North Macedonia        MKD                           4861.553971
Norway                 NOR                          74355.515858
Poland                 POL                          12560.051420
Portugal               PRT                          19250.106538
Romania                ROU                           8976.880535
Russian Federation     RUS                           9313.013672
San Marino             SMR                          42281.643468
Serbia                 SRB                           5588.980728
Slovak Republic        SVK                          16390.882175
Slovenia               SVN                          20890.166430
Spain                  ESP                          25754.361029
Sweden                 SWE                          51545.483610
Switzerland            CHE                          83806.447600
Tajikistan             TJK                            970.365224
Turkiye                TUR                          10851.954131
Turkmenistan           TKM                           6208.296655
Ukraine                UKR                           2124.662354
United Kingdom         GBR                          45071.074323
Uzbekistan             UZB                           2753.971072

                                                                                                                                      2016 [YR2016]
Series Name                         Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name           Country Code
Albania                ALB                                                    48.29606                                                               \
Andorra                AND                                                    25.00000
Armenia                ARM                                                    36.84380
Austria                AUT                                                    25.90260
Azerbaijan             AZE                                                    34.83515
Belarus                BLR                                                    26.97185
Belgium                BEL                                                    27.48167
Bosnia and Herzegovina BIH                                                    43.86636
Bulgaria               BGR                                                    38.26006
Channel Islands        CHI                                                         NaN
Croatia                HRV                                                    37.92262
Cyprus                 CYP                                                    42.22720
Czechia                CZE                                                    35.37918
Denmark                DNK                                                    33.65038
Estonia                EST                                                    38.32505
Faroe Islands          FRO                                                         NaN
Finland                FIN                                                    27.05804
France                 FRA                                                    31.80564
Georgia                GEO                                                    44.43092
Germany                DEU                                                    27.13951
Gibraltar              GIB                                                         NaN
Greece                 GRC                                                    39.82126
Greenland              GRL                                                         NaN
Hungary                HUN                                                    31.53762
Iceland                ISL                                                         NaN
Ireland                IRL                                                    29.00194
Isle of Man            IMN                                                         NaN
Italy                  ITA                                                    39.52253
Kazakhstan             KAZ                                                    35.05535
Kosovo                 XKX                                                         NaN
Kyrgyz Republic        KGZ                                                    29.13430
Latvia                 LVA                                                    31.87288
Liechtenstein          LIE                                                         NaN
Lithuania              LTU                                                    29.82034
Luxembourg             LUX                                                    27.57475
Moldova                MDA                                                         NaN
Monaco                 MCO                                                         NaN
Montenegro             MNE                                                         NaN
Netherlands            NLD                                                         NaN
North Macedonia        MKD                                                         NaN
Norway                 NOR                                                    28.43772
Poland                 POL                                                    44.09176
Portugal               PRT                                                    39.10522
Romania                ROU                                                    41.21575
Russian Federation     RUS                                                         NaN
San Marino             SMR                                                         NaN
Serbia                 SRB                                                    41.09978
Slovak Republic        SVK                                                         NaN
Slovenia               SVN                                                         NaN
Spain                  ESP                                                    29.68383
Sweden                 SWE                                                    35.16610
Switzerland            CHE                                                    22.05135
Tajikistan             TJK                                                         NaN
Turkiye                TUR                                                         NaN
Turkmenistan           TKM                                                         NaN
Ukraine                UKR                                                    29.49137
United Kingdom         GBR                                                    38.10313
Uzbekistan             UZB                                                         NaN


Series Name                         GDP per capita (Current US$)
Country Name           Country Code
Albania                ALB                           4124.055390  \
Andorra                AND                          39932.164487
Armenia                ARM                           3679.951972
Austria                AUT                          45307.587862
Azerbaijan             AZE                           3880.738731
Belarus                BLR                           5039.681886
Belgium                BEL                          42012.622719
Bosnia and Herzegovina BIH                           4858.775926
Bulgaria               BGR                           7569.478815
Channel Islands        CHI                                   NaN
Croatia                HRV                          12552.255379
Cyprus                 CYP                          24715.730469
Czechia                CZE                          18575.232027
Denmark                DNK                          54663.998372
Estonia                EST                          18295.342932
Faroe Islands          FRO                          56834.068510
Finland                FIN                          43814.026506
France                 FRA                          37062.533572
Georgia                GEO                           4062.169888
Germany                DEU                          42136.120791
Gibraltar              GIB                                   NaN
Greece                 GRC                          17923.966813
Greenland              GRL                          48181.874188
Hungary                HUN                          13104.699546
Iceland                ISL                          61987.926362
Ireland                IRL                          62895.911124
Isle of Man            IMN                          82045.438843
Italy                  ITA                          30960.731509
Kazakhstan             KAZ                           7714.841844
Kosovo                 XKX                           3759.560246
Kyrgyz Republic        KGZ                           1120.666513
Latvia                 LVA                          14331.751589
Liechtenstein          LIE                         165844.985381
Lithuania              LTU                          15008.313245
Luxembourg             LUX                         106899.293550
Moldova                MDA                           2879.391291
Monaco                 MCO                         174610.636972
Montenegro             MNE                           7033.604899
Netherlands            NLD                          46039.105928
North Macedonia        MKD                           5149.589074
Norway                 NOR                          70460.560532
Poland                 POL                          12378.759437
Portugal               PRT                          19991.972488
Romania                ROU                           9404.341874
Russian Federation     RUS                           8704.898438
San Marino             SMR                          43399.458300
Serbia                 SRB                           5765.200762
Slovak Republic        SVK                          16563.440497
Slovenia               SVN                          21678.359467
Spain                  ESP                          26537.159489
Sweden                 SWE                          51965.157153
Switzerland            CHE                          82153.074545
Tajikistan             TJK                            801.391283
Turkiye                TUR                          10734.379973
Turkmenistan           TKM                           6163.253406
Ukraine                UKR                           2187.730469
United Kingdom         GBR                          41146.077356
Uzbekistan             UZB                           2704.677188

                                                                                                                                      2017 [YR2017]
Series Name                         Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name           Country Code
Albania                ALB                                                    48.60221                                                               \
Andorra                AND                                                    66.66667
Armenia                ARM                                                    32.83465
Austria                AUT                                                         NaN
Azerbaijan             AZE                                                    40.06507
Belarus                BLR                                                    26.73484
Belgium                BEL                                                    25.83196
Bosnia and Herzegovina BIH                                                    42.91168
Bulgaria               BGR                                                    36.87189
Channel Islands        CHI                                                         NaN
Croatia                HRV                                                    38.91309

In [9]:
data2 = data1.dropna()

In [10]:
data2

                                                                                                                                      2015 [YR2015]
Series Name                         Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name           Country Code
Albania                ALB                                                    52.78050                                                               \
Andorra                AND                                                     0.00000
Armenia                ARM                                                    42.78682
Azerbaijan             AZE                                                    33.43420
Belarus                BLR                                                    26.31468
Belgium                BEL                                                    26.55760
Bosnia and Herzegovina BIH                                                    42.56293
Bulgaria               BGR                                                    37.48946
Croatia                HRV                                                    35.22319
Cyprus                 CYP                                                    41.01449
Czechia                CZE                                                    34.52674
Denmark                DNK                                                    32.19910
Estonia                EST                                                    40.54735
Finland                FIN                                                    27.55127
Germany                DEU                                                    26.84921
Hungary                HUN                                                    31.69457
Kyrgyz Republic        KGZ                                                    30.17125
Latvia                 LVA                                                    31.44744
Lithuania              LTU                                                    30.80645
Norway                 NOR                                                    29.06093
Poland                 POL                                                    43.62705
Portugal               PRT                                                    38.96266
Serbia                 SRB                                                    40.11325
Spain                  ESP                                                    29.34966
Sweden                 SWE                                                    33.80372
Switzerland            CHE                                                    22.73355
Ukraine                UKR                                                    29.65321


Series Name                         GDP per capita (Current US$)
Country Name           Country Code
Albania                ALB                           3952.802538  \
Andorra                AND                          38885.376014
Armenia                ARM                           3666.141876
Azerbaijan             AZE                           5500.310382
Belarus                BLR                           5967.052204
Belgium                BEL                          41008.296719
Bosnia and Herzegovina BIH                           4599.901029
Bulgaria               BGR                           7074.681023
Croatia                HRV                          11952.311175
Cyprus                 CYP                          23487.125000
Czechia                CZE                          17829.698322
Denmark                DNK                          53254.856370
Estonia                EST                          17402.037613
Finland                FIN                          42801.908117
Germany                DEU                          41103.256436
Hungary                HUN                          12717.038597
Kyrgyz Republic        KGZ                           1121.082835
Latvia                 LVA                          13786.456795
Lithuania              LTU                          14263.964577
Norway                 NOR                          74355.515858
Poland                 POL                          12560.051420
Portugal               PRT                          19250.106538
Serbia                 SRB                           5588.980728
Spain                  ESP                          25754.361029
Sweden                 SWE                          51545.483610
Switzerland            CHE                          83806.447600
Ukraine                UKR                           2124.662354

                                                                                                                                      2016 [YR2016]
Series Name                         Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name           Country Code
Albania                ALB                                                    48.29606                                                               \
Andorra                AND                                                    25.00000
Armenia                ARM                                                    36.84380
Azerbaijan             AZE                                                    34.83515
Belarus                BLR                                                    26.97185
Belgium                BEL                                                    27.48167
Bosnia and Herzegovina BIH                                                    43.86636
Bulgaria               BGR                                                    38.26006
Croatia                HRV                                                    37.92262
Cyprus                 CYP                                                    42.22720
Czechia                CZE                                                    35.37918
Denmark                DNK                                                    33.65038
Estonia                EST                                                    38.32505
Finland                FIN                                                    27.05804
Germany                DEU                                                    27.13951
Hungary                HUN                                                    31.53762
Kyrgyz Republic        KGZ                                                    29.13430
Latvia                 LVA                                                    31.87288
Lithuania              LTU                                                    29.82034
Norway                 NOR                                                    28.43772
Poland                 POL                                                    44.09176
Portugal               PRT                                                    39.10522
Serbia                 SRB                                                    41.09978
Spain                  ESP                                                    29.68383
Sweden                 SWE                                                    35.16610
Switzerland            CHE                                                    22.05135
Ukraine                UKR                                                    29.49137


Series Name                         GDP per capita (Current US$)
Country Name           Country Code
Albania                ALB                           4124.055390  \
Andorra                AND                          39932.164487
Armenia                ARM                           3679.951972
Azerbaijan             AZE                           3880.738731
Belarus                BLR                           5039.681886
Belgium                BEL                          42012.622719
Bosnia and Herzegovina BIH                           4858.775926
Bulgaria               BGR                           7569.478815
Croatia                HRV                          12552.255379
Cyprus                 CYP                          24715.730469
Czechia                CZE                          18575.232027
Denmark                DNK                          54663.998372
Estonia                EST                          18295.342932
Finland                FIN                          43814.026506
Germany                DEU                          42136.120791
Hungary                HUN                          13104.699546
Kyrgyz Republic        KGZ                           1120.666513
Latvia                 LVA                          14331.751589
Lithuania              LTU                          15008.313245
Norway                 NOR                          70460.560532
Poland                 POL                          12378.759437
Portugal               PRT                          19991.972488
Serbia                 SRB                           5765.200762
Spain                  ESP                          26537.159489
Sweden                 SWE                          51965.157153
Switzerland            CHE                          82153.074545
Ukraine                UKR                           2187.730469

                                                                                                                                      2017 [YR2017]
Series Name                         Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)
Country Name           Country Code
Albania                ALB                                                    48.60221                                                               \
Andorra                AND                                                    66.66667
Armenia                ARM                                                    32.83465
Azerbaijan             AZE                                                    40.06507
Belarus                BLR                                                    26.73484
Belgium                BEL                                                    25.83196
Bosnia and Herzegovina BIH                                                    42.91168
Bulgaria               BGR                                                    36.87189
Croatia                HRV                                                    38.91309
Cyprus                 CYP                                                    38.26274
Czechia                CZE                                                    35.56827
Denmark                DNK                                                    34.24926
Estonia                EST                                                    38.37799
Finland                FIN                                                    27.40048
Germany                DEU                                                    27.55567
Hungary                HUN                                                    31.68040
Kyrgyz Republic        KGZ                                                    38.70853
Latvia                 LVA                                                    31.13300
Lithuania              LTU                                                    29.59471
Norway                 NOR                                                    28.46429
Poland                 POL                                                    43.36165
Portugal               PRT                                                    37.76102
Serbia                 SRB                                                    39.74098
Spain                  ESP                                                    29.55581
Sweden                 SWE                                                    35.47829
Switzerland            CHE                                                    22.31547
Ukraine                UKR                                                    27.41790


Series Name                         GDP per capita (Current US$)
Country Name           Country Code
Albania                ALB                           4531.019374
Andorra                AND                          40632.484393
Armenia                ARM                           4041.995021
Azerbaijan             AZE                           4147.089716
Belarus                BLR                           5785.670673
Belgium                BEL                          44198.482391
Bosnia and Herzegovina BIH                           5255.807058
Bulgaria               BGR                           8366.293221
Croatia                HRV                          13655.815939
Cyprus                 CYP                          26697.171875
Czechia                CZE                          20636.199952
Denmark                DNK                          57610.098180
Estonia                EST                          20437.765377
Finland                FIN                          46412.136478
Germany                DEU                          44652.589172
Hungary                HUN                          14621.239596
Kyrgyz Republic        KGZ                           1242.769643
Latvia                 LVA                          15695.115154
Lithuania              LTU                          16885.407395
Norway                 NOR                          75496.754058
Poland                 POL                          13815.621799
Portugal               PRT                          21490.429863
Serbia                 SRB                           6292.543629
Spain                  ESP                          28185.321367
Sweden                 SWE                          53791.508730
Switzerland            CHE                          82254.376927
Ukraine                UKR                           2638.326172