In [1]:
import pandas

In [2]:
data = pandas.read_excel("https://nasdaqbaltic.com/statistics/en/shares?download=1")

In [3]:
data

,Ticker,Name,ISIN,Currency,MarketPlace,List/segment,Average Price,Open Price,High Price,Low Price,Last close Price,Last Price,Price Change(%),Best bid,Best ask,Trades,Volume,Turnover,Industry,Supersector
0,AIR,Airobot Technologies,EE3100092792,EUR,TLN,First North Baltic Share List,NaN,NaN,NaN,NaN,3.950,3.950,NaN,NaN,NaN,NaN,NaN,NaN,Industrials,Construction and Materials
1,AMG1L,Amber Grid,LT0000128696,EUR,VLN,Baltic Secondary List,NaN,NaN,NaN,NaN,1.270,1.270,NaN,NaN,NaN,NaN,NaN,NaN,Energy,Energy
2,APG1L,Apranga,LT0000102337,EUR,VLN,Baltic Main List,NaN,NaN,NaN,NaN,2.820,2.820,NaN,NaN,NaN,NaN,NaN,NaN,Consumer Discretionary,Retail
3,ARC1T,Arco Vara,EE3100034653,EUR,TLN,Baltic Main List,NaN,NaN,NaN,NaN,1.760,1.760,NaN,NaN,NaN,NaN,NaN,NaN,Real Estate,Real Estate
4,AUG1L,AUGA group,LT0000127466,EUR,VLN,Baltic Main List,NaN,NaN,NaN,NaN,0.437,0.437,NaN,NaN,NaN,NaN,NaN,NaN,Consumer Staples,"Food, Beverage and Tobacco"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,VBL1L,Vilniaus baldai,LT0000104267,EUR,VLN,Baltic Secondary List,NaN,NaN,NaN,NaN,6.700,6.700,NaN,NaN,NaN,NaN,NaN,NaN,Consumer Discretionary,Consumer Products and Services
71,VEF1R,VEF,LV0000101079,EUR,RIG,Baltic Secondary List,NaN,NaN,NaN,NaN,5.050,5.050,NaN,NaN,NaN,NaN,NaN,NaN,Real Estate,Real Estate
72,VIRSI,VIRŠI-A,LV0000101848,EUR,RIG,First North Baltic Share List,NaN,NaN,NaN,NaN,4.490,4.490,NaN,NaN,NaN,NaN,NaN,NaN,Consumer Discretionary,Retail
73,VLP1L,Vilkyškių pieninė,LT0000127508,EUR,VLN,Baltic Main List,NaN,NaN,NaN,NaN,5.080,5.080,NaN,NaN,NaN,NaN,NaN,NaN,Consumer Staples,"Food, Beverage and Tobacco"
74,ZMP1L,Žemaitijos pienas,LT0000121865,EUR,VLN,Baltic Secondary List,NaN,NaN,NaN,NaN,1.810,1.810,NaN,NaN,NaN,NaN,NaN,NaN,Consumer Staples,"Food, Beverage and Tobacco"